name: CI/CD Pipeline

on:
 push:
  branches: [main]
jobs: 
 build-and-deploy:
  runs-on: ubuntu-latest

  steps:
   - name: Checkout repo
     uses: actions/checkout@v3
   - name: setup node
     uses: actions/setup-node@v3
     with: 
      node-version: 18
   - name: install libraries
     run: npm install
   - name: run tests
     run: echo "Tests passed"
   - name: Install Docker Compose
     run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.21.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version 
   - name: Build and run app with docker Compose
     run: docker-compose build
          docker-compose up - d
   - name: configure Aws credentials
     uses: aws-actions/configure-aws-credentials@v2
     with:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      aws-region: us-east-1

   - name: Login to ECR
     id: login-ecr
     uses: aws-actions/amazon-ecr-login@v1
   - name: Push Docker image to ECR
     run: |
      docker-compose build
      docker tag devops-app:latest ${{ steps.login-ecr.outputs.registry }}/devops-app-repo:latest
      docker push ${{ steps.login-ecr.outputs.registry }}/devops-app-repo:latest
