name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install libraries
        run: npm install

      - name: Run tests
        run: echo "Tests passed"

      - name: Build Docker image using Compose
        run: docker compose build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Tag and Push image to ECR
        run: |
          docker tag devops-app:latest \
          ${{ steps.login-ecr.outputs.registry }}/devops-app-repo:latest

          docker push \
          ${{ steps.login-ecr.outputs.registry }}/devops-app-repo:latest
