- name: Deploy to EC2
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ${{ secrets.EC2_USER }}
    key: ${{ secrets.EC2_SSH_KEY }}
    script: |
      docker pull ${{ secrets.ECR_REGISTRY }}/${{ secrets.ECR_REPO }}:latest
      docker stop devops_app || true
      docker rm devops_app || true
      docker run -d \
        --name devops_app \
        -p 3000:3000 \
        ${{ secrets.ECR_REGISTRY }}/${{ secrets.ECR_REPO }}:latest
